*{
  margin:0;
  padding:10px;
}

.firstpage{
  width:100%;
  height:100vh;
}

body {
  background-image: url("./background.webp");
  background-size:cover;
}

.logo{
  padding:5px;
  display: flex;
  gap: 5px;
  justify-items: left;
  align-items: start;
}

.straightline{
  color: goldenrod;
}
.navbar{
  width:100%;
  height:20vh;
  display:flex;
  justify-content: space-between;

}
.products{
  padding:20px;
  display: flex;
  gap: 5px;
  justify-items: left;
  align-items: start; 
}

.content{
  padding:20px;
  display: flex;
  gap: 5px;
  justify-items: left;
  align-items: start;
}

.meetus{
   padding:20px;
  display: flex;
  gap: 5px;
  justify-items: left;
  align-items: start;
}


.career{
  padding:25px;
  display: flex;
  gap: 5px;
  justify-items: left;
  align-items: start;
  color: white;
}

.about{
  padding:25px;
  display: flex;
  gap: 5px;
  justify-items: left;
  align-items: start;
  color:white;
}

.language{
  padding:20px;
  display: flex;
  gap: 30px;
  justify-items: left;
  align-items: start;
  color:white;
}

.para{
  padding:1px;
}

.trulypara{
  padding-left: 1px;
  color: white;
  
}

.heading{
  padding:1px;
  color: white;
  font-size:xx-large;
  font-family:sans-serif ;
  font-weight: bolder;
}

.engage{
  padding:1px;;
  color:white;
}

.reqdemo{
  padding:5px;
}

.reqdemo button {
  background-color: darkgoldenrod;
}

 .mobile {
  text-align:end;
  position:relative;
  top: -400px;
 }

 .second{
  width:100%;
  height:25vh;
  padding-bottom:0;
  background-color:white;
 }

.global h2{
  text-align: center;
  background-color: white;
}

.img{
    display: flex;
    gap:1px;
}

 .third{
  background-image: url('./third\ bg.webp');
   width:100%;
  height:100vh; 
}

.esports h2{
  color: white;
  text-align: center;
  padding-top: 60px;
  font-size: xx-large;
  font-weight: 900;
} 

.cards{
  display:flex;
  flex-wrap: wrap;
  gap:30px;
  align-items: start;
  justify-content: space-around;
}


.card{
  width: 300px;
  height: 500px;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  align-items: center;
  border: 2px solid black;
}



